<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
<div style="margin: 50px">
    <div class="row">
         <div class="col-md-3"></div>
         <div style="text-align: center; margin-top: 50px; margin-bottom: 50px; " class="col-md-6">
          <h2>Bienvenue</h2>
         </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
</body>
</html>